@CHARSET "ISO-8859-1";

body {
	font-size: 11px !important;
	font: Arial !important;
}

.ui-menu-item {
	font-size: 13px;
}

#footer {
	font-size: 10px;
}

.summarytable table {
	border-collapse: collapse;
	text-align: left;
	width: 100%;
}

.summarytable {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #fff;
	overflow: hidden;
	border: 1px solid #006699;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

div.dhtmlx_window_active,div.dhx_modal_cover_dv {
	position: fixed !important;
}

.myButton {
	-moz-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	-webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7;
	box-shadow: inset 0px 1px 0px 0px #54a3f7;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1
		), color-stop(1, #0061a7));
	background: -moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: -ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
	background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1',
		endColorstr='#0061a7', GradientType=0);
	background-color: #005691;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #005691;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: arial;
	font-size: 12px;
	padding: 4px 10px;
	text-decoration: none;
}

.myButton:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7
		), color-stop(1, #007dc1));
	background: -moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: -ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
	background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7',
		endColorstr='#007dc1', GradientType=0);
	background-color: #005691;
}

.myButton:active {
	position: relative;
	top: 1px;
}

#statusMessage {
	font: Arial;
	font-weight: bold;
	font-size: 14px;
	color: #005691;
	display: none;
	position: absolute;
	top: 226px;
	left: 60%;
	width: 200px;
	align: center;
	padding: 1px;
	/* border: 1px solid #005691; */
	/* background-color: white; */
	z-index: 1002;
	overflow: auto;
}

#multibrandDisp {
	font: Arial;
	font-weight: bold;
	font-size: 14px;
	color: #005691;
	display: none;
	position: absolute;
	top: 25%;
	left: 30%;
	width: 600px;
	height: 300px;
	align: center;
	padding: 1px;
	border: 1px solid #005691;
	background-color: white;
	z-index: 1002;
	overflow: auto;
}

.black_overlay{           
    display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index:1001;
        -moz-opacity: 0.8;
        opacity:.80;
        filter: alpha(opacity=80);   
} 

.cell-title {
	font-weight: bold;
}

.cell-effort-driven {
	text-align: center;
}

.slick-row-total-class {
	background: green !important;
}

.toggle {
	height: 9px;
	width: 9px;
	display: inline-block;
}

.toggle.expand {
	background: url(SlickGrid-master/images/expand.gif) no-repeat center
		center;
}

.toggle.collapse {
	background: url(SlickGrid-master/images/collapse.gif) no-repeat center
		center;
}
.ui-front {
   z-index: 1003 !important;
}
#multibrandEdit{
	font: Arial;
	font-size: 12px;
	color: #005691;
	display: none;
	position: absolute;
	top: 25%;
	left: 30%;
	width: 580px;
	height: 260px;
	align: center;
	padding: 1px;
	border: 1px solid #005691;
	background-color: white;
	z-index: 1002;
	overflow: auto;
    border-radius: 1em;
}
#uploadWindow{
	font: Arial;
	font-size: 12px;
	color: #005691;
	display: none;
	position: absolute;
	top: 40%;
	left: 30%;
	width: 580px;
	height: 100px;
	align: center;
	padding: 1px;
	border: 1px solid #005691;
	background-color: white;
	z-index: 1002;
	overflow: auto;
    border-radius: 1em;
}
